(
    name: "Castle and Countryside",
    entities: {
        (19): (
            id: (19),
            name: "Hill 3",
            transform: (
                position: (9.0, 0.25, -9.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.8, 0.5, 1.8),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "grass_cube",
                    material_path: None,
                ),
            ],
        ),
        (16): (
            id: (16),
            name: "Courtyard",
            transform: (
                position: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (6.5, 0.1, 6.5),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (13): (
            id: (13),
            name: "Tower SW",
            transform: (
                position: (-3.5, 2.0, 3.5),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 4.0, 1.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (10): (
            id: (10),
            name: "Tower NE",
            transform: (
                position: (3.5, 2.0, -3.5),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 4.0, 1.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (3): (
            id: (3),
            name: "Moat South",
            transform: (
                position: (0.0, 0.2, 4.5),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (10.0, 0.5, 1.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "water_cube",
                    material_path: None,
                ),
            ],
        ),
        (8): (
            id: (8),
            name: "Castle Wall East",
            transform: (
                position: (3.5, 1.5, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (0.4, 3.0, 7.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (11): (
            id: (11),
            name: "Tower SE",
            transform: (
                position: (3.5, 2.0, 3.5),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 4.0, 1.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (17): (
            id: (17),
            name: "Hill 1",
            transform: (
                position: (8.0, 0.3, 8.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (2.0, 0.6, 2.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "grass_cube",
                    material_path: None,
                ),
            ],
        ),
        (9): (
            id: (9),
            name: "Castle Wall West",
            transform: (
                position: (-3.5, 1.5, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (0.4, 3.0, 7.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (4): (
            id: (4),
            name: "Moat East",
            transform: (
                position: (4.5, 0.2, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 0.5, 8.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "water_cube",
                    material_path: None,
                ),
            ],
        ),
        (1): (
            id: (1),
            name: "Countryside Ground",
            transform: (
                position: (0.0, -0.5, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (20.0, 0.2, 20.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "grass_cube",
                    material_path: None,
                ),
            ],
        ),
        (15): (
            id: (15),
            name: "Gatehouse",
            transform: (
                position: (0.0, 1.2, 3.8),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.5, 2.4, 0.8),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (14): (
            id: (14),
            name: "Castle Keep",
            transform: (
                position: (0.0, 3.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.5, 6.0, 1.5),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (18): (
            id: (18),
            name: "Hill 2",
            transform: (
                position: (-8.0, 0.35, 7.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (2.5, 0.7, 2.5),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "grass_cube",
                    material_path: None,
                ),
            ],
        ),
        (2): (
            id: (2),
            name: "Moat North",
            transform: (
                position: (0.0, 0.2, -4.5),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (10.0, 0.5, 1.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "water_cube",
                    material_path: None,
                ),
            ],
        ),
        (5): (
            id: (5),
            name: "Moat West",
            transform: (
                position: (-4.5, 0.2, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 0.5, 8.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "water_cube",
                    material_path: None,
                ),
            ],
        ),
        (12): (
            id: (12),
            name: "Tower NW",
            transform: (
                position: (-3.5, 2.0, -3.5),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 4.0, 1.0),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (7): (
            id: (7),
            name: "Castle Wall South",
            transform: (
                position: (0.0, 1.5, 3.5),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (7.0, 3.0, 0.4),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
        (6): (
            id: (6),
            name: "Castle Wall North",
            transform: (
                position: (0.0, 1.5, -3.5),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (7.0, 3.0, 0.4),
            ),
            parent: None,
            children: [],
            components: [
                (
                    type: "MeshRenderer",
                    mesh_path: "stone_cube",
                    material_path: None,
                ),
            ],
        ),
    },
    next_id: 20,
    root_entities: [
        (1),
        (2),
        (3),
        (4),
        (5),
        (6),
        (7),
        (8),
        (9),
        (10),
        (11),
        (12),
        (13),
        (14),
        (15),
        (16),
        (17),
        (18),
        (19),
    ],
)